<!-- Blog -->
<div class="blog-container section-container">
  <div class="container">
  	
      <div class="row">
          <div class="col-sm-12 blog section-description wow fadeIn">
              <h2>From the blog</h2>
              <div class="divider-1 wow fadeInUp"><span></span></div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-6 blog-box wow fadeInLeft">
          	<div class="row">
          		<div class="col-sm-3">
          			<div class="blog-box-image">
          				<img src="assets/blog-1.jpg" alt="" data-at2x="assets/blog-1.jpg">
          			</div>
          		</div>
          		<div class="col-sm-9">
          			<h3><a href="#">Ut wisi enim ad minim</a> <i class="fa fa-angle-right"></i></h3>
          			<div class="blog-box-date"><i class="fa fa-calendar-o"></i> 17 September 2015</div>
                	<p>
                		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                	</p>
          		</div>
          	</div>
          </div>
          <div class="col-sm-6 blog-box wow fadeInLeft">
          	<div class="row">
          		<div class="col-sm-3">
          			<div class="blog-box-image">
          				<img src="assets/blog-2.jpg" alt="" data-at2x="assets/blog-2.jpg">
          			</div>
          		</div>
          		<div class="col-sm-9">
          			<h3><a href="#">Sed do eiusmod tempor</a> <i class="fa fa-angle-right"></i></h3>
          			<div class="blog-box-date"><i class="fa fa-calendar-o"></i> 13 August 2015</div>
                	<p>
                		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                	</p>
          		</div>
          	</div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-6 blog-box wow fadeInLeft">
          	<div class="row">
          		<div class="col-sm-3">
          			<div class="blog-box-image">
          				<img src="assets/blog-3.jpg" alt="" data-at2x="assets/blog-3.jpg">
          			</div>
          		</div>
          		<div class="col-sm-9">
          			<h3><a href="#">Quis nostrud exerci tat</a> <i class="fa fa-angle-right"></i></h3>
          			<div class="blog-box-date"><i class="fa fa-calendar-o"></i> 26 July 2015</div>
                	<p>
                		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                	</p>
          		</div>
          	</div>
          </div>
          <div class="col-sm-6 blog-box wow fadeInLeft">
          	<div class="row">
          		<div class="col-sm-3">
          			<div class="blog-box-image">
          				<img src="assets/blog-4.jpg" alt="" data-at2x="assets/blog-4.jpg">
          			</div>
          		</div>
          		<div class="col-sm-9">
          			<h3><a href="#">Minim veniam quis nostrud</a> <i class="fa fa-angle-right"></i></h3>
          			<div class="blog-box-date"><i class="fa fa-calendar-o"></i> 09 June 2015</div>
                	<p>
                		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                	</p>
          		</div>
          	</div>
          </div>
      </div>
      
      <div class="row">
      	<div class="col-sm-12 section-bottom-button wow fadeInUp">
                <a class="btn btn-link-1 custom-color" href="#">Visit the blog</a>
      	</div>
      </div>

  </div>
</div>