<!-- More services -->
<div class="more-services-container section-container">
  <div class="container">
  	
      <div class="row">
          <div class="col-sm-12 more-services section-description wow fadeIn">
              <h2>More services</h2>
              <div class="divider-1 wow fadeInUp"><span></span></div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-6 more-services-box wow fadeInLeft">
          	<div class="row">
          		<div class="col-sm-3">
          			<div class="more-services-box-icon custom-color">
          				<i class="fa fa-paperclip"></i>
          			</div>
          		</div>
          		<div class="col-sm-9">
          			<h3>Ut wisi enim ad minim</h3>
                	<p>
                		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                		Ut wisi enim ad minim veniam, quis nostrud.
                	</p>
          		</div>
          	</div>
          </div>
          <div class="col-sm-6 more-services-box wow fadeInLeft">
          	<div class="row">
          		<div class="col-sm-3">
          			<div class="more-services-box-icon custom-color">
          				<i class="fa fa-pencil"></i>
          			</div>
          		</div>
          		<div class="col-sm-9">
          			<h3>Sed do eiusmod tempor</h3>
                	<p>
                		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                		Ut wisi enim ad minim veniam, quis nostrud.
                	</p>
          		</div>
          	</div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-6 more-services-box wow fadeInLeft">
          	<div class="row">
          		<div class="col-sm-3">
          			<div class="more-services-box-icon custom-color">
          				<i class="fa fa-cloud"></i>
          			</div>
          		</div>
          		<div class="col-sm-9">
          			<h3>Quis nostrud exerci tat</h3>
                	<p>
                		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                		Ut wisi enim ad minim veniam, quis nostrud.
                	</p>
          		</div>
          	</div>
          </div>
          <div class="col-sm-6 more-services-box wow fadeInLeft">
          	<div class="row">
          		<div class="col-sm-3">
          			<div class="more-services-box-icon custom-color">
          				<i class="fa fa-google"></i>
          			</div>
          		</div>
          		<div class="col-sm-9">
          			<h3>Minim veniam quis nostrud</h3>
                	<p>
                		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                		Ut wisi enim ad minim veniam, quis nostrud.
                	</p>
          		</div>
          	</div>
          </div>
      </div>

  </div>
</div>

<!-- Call to action -->
<div class="call-to-action-container section-container section-container-image-bg">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
              <p>
              	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
              	aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
              </p>
          </div>
      </div>
      <div class="row">
      	<div class="col-sm-12 section-bottom-button wow fadeInUp">
                <a class="btn btn-link-1 scroll-link custom-color" href="#top-content">Download now</a>
      	</div>
      </div>
  </div>
</div>