<!-- Great support -->
<div class="great-support-container section-container section-container-gray-bg">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 great-support section-description wow fadeIn">
          </div>
      </div>
      <div class="row">
      	<div class="col-sm-7 great-support-box wow fadeInLeft">
              <div class="great-support-box-text great-support-box-text-left">
              	<h3>Try our great support!</h3>
              	<p class="medium-paragraph">
              		Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
              		sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
              	</p>
              	<p>
              		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              		Ut wisi enim ad minim veniam, quis nostrud. 
              		Exerci tation ullamcorper suscipit <span class="colored-text ">lobortis nisl</span> ut aliquip ex ea commodo consequat. 
              		Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl. 
              	</p>
              	<p>
              		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              		Ut wisi enim ad minim veniam, quis nostrud. 
              		Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              	</p>
              </div>
          </div>
          <div class="col-sm-5 great-support-box great-support-box-phone wow fadeInUp">
              <img src="assets/iphone.png" alt="">
          </div>
      </div>
  </div>
</div>