<!-- Top content -->
<div class="top-content">
	
  <div class="inner-bg">
    <div class="container">
    	
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
        	<div class="logo wow fadeInDown">
        		<!-- <a href="/"></a> -->
            <%=link_to (image_tag(@theme.logo.url(:original))), "#" %>
        	</div>

            <h1 class="wow fadeInLeftBig"><%= @theme.title %></h1>
            <div class="description wow fadeInLeftBig">
            	<p><%= @theme.description %></p>
            </div>
            <div class="top-big-link wow fadeInUp">
            	<a class="btn btn-link-1 custom-color" href="http://azmind.com">Download it</a>
            	<!-- <a class="btn btn-link-2 scroll-link" href="#services">Learn more</a> -->
            </div>
        </div>
      </div>
        
    </div>
  </div>

</div>